Importing the necessary libraries

In [1]:


import pandas as pd

Reading the Training DataSet and printing the first five rows

In [2]:
x_train_df=pd.read_csv("data\\Train_60\\Train_60\\X_Train_Data_Input.csv")
x_train_df.head(5)

,ID,Column0,Column1,Column2,Column3,Column4,Column5,Column6,Column7,Column8,...,Column12,Column13,Column14,Column15,Column16,Column17,Column18,Column19,Column20,Column21
0,ad1a67e4cbddc767a3456b0d94299b9e,2.0,2495,3726.0,0.678139,0.701403,-0.007468,0.434190,-0.015603,0.606265,...,0,0,0.001351,0.00339,0.0,0,0.0,0,0,0
1,7246d2f76ac0c217ec25e72ea5f014cb,0.0,2495,3454.0,0.452580,0.701403,-0.007468,1.554998,-0.015574,0.329946,...,0,0,0.001351,0.00339,0.0,0,0.0,0,0,0
2,22ba388e7dd14c13342c49e75fc29dda,2.0,2495,4543.0,-1.577453,-1.429540,-0.007469,-0.407939,-0.015607,-0.774979,...,1,1,0.001351,0.00339,0.0,0,0.0,0,0,0
3,59f9b981472d97342587fb3e6392aeb1,0.0,211,59.0,NaN,NaN,NaN,-0.407939,-0.015607,-0.774979,...,0,0,NaN,0.00339,0.0,0,1.0,0,0,0
4,f6317cf7ecf126859804eddff279aead,0.0,718,950.0,-2.028572,-1.855728,NaN,-0.407939,-0.015607,-0.774979,...,0,0,NaN,0.00339,0.0,0,0.0,0,0,0

Checking all the columns

In [3]:
x_train_df.columns

Index(['ID', 'Column0', 'Column1', 'Column2', 'Column3', 'Column4', 'Column5',
       'Column6', 'Column7', 'Column8', 'Column9', 'Column10', 'Column11',
       'Column12', 'Column13', 'Column14', 'Column15', 'Column16', 'Column17',
       'Column18', 'Column19', 'Column20', 'Column21'],
      dtype='object')

Getting familar with the shape of the dataframe

In [4]:
print(x_train_df.shape)

(785133, 23)

Checking null values in each column

In [5]:
x_train_df.isnull().sum()

ID               0
Column0          9
Column1          0
Column2          0
Column3     126303
Column4     127710
Column5     167180
Column6       3850
Column7          0
Column8       3850
Column9     732137
Column10         0
Column11         0
Column12         0
Column13         0
Column14    365703
Column15     16456
Column16         0
Column17         0
Column18         0
Column19         0
Column20         0
Column21         0
dtype: int64

Getting the info of the DataFrame

In [6]:
x_train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 785133 entries, 0 to 785132
Data columns (total 23 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   ID        785133 non-null  object
 1   Column0   785124 non-null  float64
 2   Column1   785133 non-null  int64
 3   Column2   785133 non-null  float64
 4   Column3   658830 non-null  float64
 5   Column4   657423 non-null  float64
 6   Column5   617953 non-null  float64
 7   Column6   781283 non-null  float64
 8   Column7   785133 non-null  float64
 9   Column8   781283 non-null  float64
 10  Column9   52996 non-null   float64
 11  Column10  785133 non-null  int64
 12  Column11  785133 non-null  int64
 13  Column12  785133 non-null  int64
 14  Column13  785133 non-null  int64
 15  Column14  419430 non-null  float64
 16  Column15  768677 non-null  float64
 17  Column16  785133 non-null  float64
 18  Column17  785133 non-null  int64
 19  Column18  785133 non-null  float64
 20  Column19  785133 non-null  int64
 21  Column20  785133 non-null  int64
 22  Column21  785133 non-null  int64
dtypes: float64(13), int64(9), object(1)
memory usage: 137.8+ MB

checking percentage of null in columns

In [7]:
null_count = x_train_df['Column3'].isnull().sum()
null_percentage = (null_count / len(x_train_df)) * 100
null_percentage

16.086828601014098

In [8]:
null_count = x_train_df['Column4'].isnull().sum()
null_percentage = (null_count / len(x_train_df)) * 100
null_percentage

16.266033907630938

In [9]:
null_count = x_train_df['Column5'].isnull().sum()
null_percentage = (null_count / len(x_train_df)) * 100
null_percentage

21.293207647621486

In [10]:
null_count = x_train_df['Column6'].isnull().sum()
null_percentage = (null_count / len(x_train_df)) * 100
null_percentage

0.49036277929981287

In [11]:
null_count = x_train_df['Column8'].isnull().sum()
null_percentage = (null_count / len(x_train_df)) * 100
null_percentage

0.49036277929981287

In [12]:
null_count = x_train_df['Column9'].isnull().sum()
null_percentage = (null_count / len(x_train_df)) * 100
null_percentage

93.25006081772132

In [13]:
null_count = x_train_df['Column14'].isnull().sum()
null_percentage = (null_count / len(x_train_df)) * 100
null_percentage

46.5784777865661

In [14]:
null_count = x_train_df['Column15'].isnull().sum()
null_percentage = (null_count / len(x_train_df)) * 100
null_percentage

2.095950622378629

Cleaning the Dataframe

In [15]:
x_train_df = x_train_df.drop(columns=['Column9'])

In [23]:
x_train_df['Column0']=x_train_df['Column0'].interpolate()
x_train_df['Column3']=x_train_df['Column3'].interpolate()
x_train_df['Column4']=x_train_df['Column4'].interpolate()
x_train_df['Column5']=x_train_df['Column4'].interpolate()
x_train_df['Column6']=x_train_df['Column4'].interpolate()
x_train_df['Column8']=x_train_df['Column4'].interpolate()
x_train_df['Column14']=x_train_df['Column4'].interpolate()
x_train_df['Column15']=x_train_df['Column4'].interpolate()

In [24]:
x_train_df.isna().sum()

ID          0
Column0     0
Column1     0
Column2     0
Column3     0
Column4     0
Column5     0
Column6     0
Column7     0
Column8     0
Column10    0
Column11    0
Column12    0
Column13    0
Column14    0
Column15    0
Column16    0
Column17    0
Column18    0
Column19    0
Column20    0
Column21    0
dtype: int64